/storage
.DS_Store

.fast-cgi-bin
log

.php_cs.cache
.phplint-cache

/bower_components
/node_modules

/public/css
/public/js
/public/thumbs/*
/public/storage
/public/libraries/qr-scanner/node_modules

/storage/*.key
/vendor
/public/fonts/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
/nbproject
/.vscode

!.gitkeep
